html {
  min-height: 100%;
}

body {
  /* background-color: rgb(141, 170, 102); */
  /* background-color: rgb(86, 142, 47); */
  height: 100%;
  font-family: "Arial,Helvetica,freesans,sans-serif";
}

.bs-example {
  /* margin: 20px; */
  height: 100%;
}

.social-icons li {
    display:inline;
    padding: 10px 10px;
}

.navbar-nav {
  padding-left: 150px;
}

.navbar-brand img {
  border:0;
}


/** TIPS: 
1. The carousel shouldn't be in any other div, like for example div with class container. 
2. You can align image position in classes bg1, bg2, bg3 using css background-position.
*/
.carousel-item {
  height: 50vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.center-div {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 550px;
  height: 400px;
  background-color:#212529;
  border-radius: 3px;
}

.btn-facebook
{
    background-color: #3b5998;
}
.btn-facebook:hover
{
    background-color: #4c70ba;
}
.btn-instagram
{
    background-color: #3f729b;
}
.btn-instagram:hover
{
    background-color: #548cb9;
}
.btn-twitter
{
    background-color: #55acee;
}
.btn-twitter:hover
{
    background-color: #83c3f3;
}

a.btn-social,
.btn-social
{
    border-radius: 50%;
    color: #ffffff !important;
    display: inline-block;
    height: 54px;
    line-height: 54px;
    /* margin: 8px 4px; */
    text-align: center;
    text-decoration: none;
    transition: background-color .3s;
    webkit-transition: background-color .3s;
    width: 54px;
}

.btn-social .fa,.btn-social i
{
    backface-visibility: hidden;
    moz-backface-visibility: hidden;
    ms-transform: scale(1);
    o-transform: scale(1);
    transform: scale(1);
    transition: all .25s;
    webkit-backface-visibility: hidden;
    webkit-transform: scale(1);
    webkit-transition: all .25s;
}
.btn-social:hover,.btn-social:focus
{
    color: #fff;
    outline: none;
    text-decoration: none;
}
.btn-social:hover .fa,.btn-social:focus .fa,.btn-social:hover i,.btn-social:focus i
{
    ms-transform: scale(1.3);
    o-transform: scale(1.3);
    transform: scale(1.3);
    webkit-transform: scale(1.3);
}

.body-card {
  margin-top: 20px;
  padding-left: 50%;
  padding-right: 10%;
  /* background-color: #343a40!important; */
  /* color: white; */
}

.welcome-card {
  margin-top: 20px;
  /* text-align: center; */
  padding-left: 50%;
  padding-right: 10% ; 
  /* display: inline; */
  /* background-color: #343a40!important; */
  /* color: white; */
}


.table-whs {
  width: 500px;
  table-layout:fixed;
  border-collapse: collapse;
  font-size: 10pt;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: transparent;
  font-family: 'Calibri'
}

.merchcard {
  margin: 20px;
}

.card-merch {
    display: flex;
    /* justify-content: center; */
    margin-top: 100px;
}

.card-body {
border-left: 5px solid rgb(234, 234, 234);
}

.footer{
  position: absolute;
 
}

h2 {
  margin-bottom: 0;
}

.ll {
  margin-left: 0;
}

.imgalign {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.elon_img {
  /* padding-top: 100px; */
  border:2px solid black;
}

.neil_img {
  border:2px solid black;
}

img {
  border:1px solid black;
}

.equip {
  border:0px;
}

video {
  border:1px solid black;
}

.form-eoi {
  padding-top: 100px;
  padding-left: 150px;
}